@model VinylStoreMVC.Models.Record

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактирование пластинки</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtistId" class="control-label"></label>
                <select asp-for="ArtistId" class="form-control" asp-items="ViewBag.ArtistId"></select>
                <span asp-validation-for="ArtistId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Жанры</label>
                <select name="selectedGenres" class="form-control" multiple
                        asp-items="ViewBag.GenreIds">
                </select>
                <small class="form-text text-muted">
                    Чтобы выбрать несколько жанров, удерживайте Ctrl
                </small>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Label" class="control-label"></label>
                <input asp-for="Label" class="form-control" />
                <span asp-validation-for="Label" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatalogNumber" class="control-label"></label>
                <input asp-for="CatalogNumber" class="form-control" />
                <span asp-validation-for="CatalogNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentPrice" class="control-label"></label>
                <input asp-for="CurrentPrice" class="form-control" />
                <span asp-validation-for="CurrentPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
